::-webkit-scrollbar {
  width: 0;
}

/* text */

@font-face {
  font-family: TT Lakes-Regular;
  src: url("TTLakes/TTLakes-Regular.ttf");
}

@font-face {
  font-family: TT Lakes-Bold;
  src: url("TTLakes/TTLakes-Bold.ttf");
}

@font-face {
  font-family: TT Lakes-Medium;
  src: url("TTLakes/TTLakes-Medium.ttf");
}

/* work */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  height: 597px;
  overflow-x: hidden;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #d9fff5;
}

button {
  cursor: pointer;
}

.logo__link {
  width: 100px;
  height: 50px;
}

.bigMenu__button:focus {
  outline: 2px solid #d9fff5;
}

.header__iner {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__iner-in {
  width: 170px;
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__iner-out {
  width: 134px;
  min-height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__iner-btnsRight {
  width: 314px;
  min-height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dividerSecond {
  width: 2px;
  height: 32px;
  top: 28px;
  left: 186px;
  border-radius: 1px;
  background-color: #eaeaea;
}

.dividerFirst {
  display: none;
  width: 2px;
  height: 32px;
  top: 28px;
  left: 186px;
  border-radius: 1px;
  background-color: #eaeaea;
}

.menu__btn {
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./pic/burger.svg");
  background-color: #ff3e79;
  border: none;
}

.call__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./pic/call.svg");
  background-color: #ff3e79;
  border: none;
}

.chat__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./pic/chat.svg");
  background-color: #ff3e79;
  border: none;
}

.profile__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./pic/profile.svg");
  background-color: #ff3e79;
  border: none;
}

.repair__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./pic/repair.svg");
  background-color: #ff3e79;
  border: none;
}

.search__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./pic/checkstatus.svg");
  background-color: #ff3e79;
  border: none;
}

.search {
  margin-right: 16px;
}
.menu__img {
  display: flex;
  justify-content: center;
  top: 36px;
  left: 27px;
}

.main {
  min-width: 320px;
  min-height: 640px;
  padding-top: 24px;
  background-color: #f8f8f8;
}

.header__iner-btns {
  display: none;
}

.bigMenu {
  display: none;
}

.readMore__pSecond {
  display: none;
}

.main__title-p {
  margin: 0;
  font-family: TT Lakes-Bold;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
  margin-left: 12px;
}

.main__title {
  width: 304px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: left, no-repeat url("./pic/highlight.svg");
}

.slideMenu {
  margin: 0 auto;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  padding-top: 34px;
  padding-bottom: 14px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.slideMenu__btns {
  padding: 8px 9px;
  margin: 0;
  white-space: nowrap;
  font-family: TT Lakes-Regular;
  color: #7e7e82;
  font-size: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  height: 40px;
  text-decoration: none;
  margin-left: 16px;
}

.slideMenu__btns:hover {
  width: 246px;
  height: 40px;
  top: 176px;
  left: 16px;
  border-radius: 6px;
  background-color: #fff;
  /* Задаем обводку и цвет обводки*/
}

.slideMenu__btns-active {
  width: 246px;
  height: 40px;
  top: 176px;
  left: 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #41f6d7; /* Задаем обводку и цвет обводки*/
}

.readMore {
  min-width: 320px;
}

.readMore__bigMore {
  min-width: 288px;
  height: 150px;
  padding: 0 16px;
}
.readMore__pFirst {
  min-width: 300px;
}
.readMore__p {
  margin: 0;
  font-family: TT Lakes-Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  display: block;
  min-width: 290px;
}

.readMore__scroll {
  display: inline-block;
  width: 132px;
  height: 24px;
  white-space: nowrap;
  border: transparent;
  background-color: #f8f8f8;
  margin-left: 16px;
  margin-top: 16px;
  padding-left: 25px;
  font-family: TT Lakes-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  background: left, no-repeat url("pic/expand.svg");
}

.readMore__logo-img {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

/* display */

@media (min-width: 768px) and (max-width: 1023px) {
  .dividerFirst {
    display: initial;
  }
  .header__iner-btns {
    display: initial;
  }
  .readMore__pSecond {
    display: initial;
  }
}

/* vision */

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    width: 100%;
    height: 416px;
    flex-shrink: 0;
  }

  .header__iner-in {
    width: 204px;
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__iner-out {
    width: 314px;
    min-height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header__iner-btns {
    width: 314px;
    min-height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .readMore__p {
    width: 312px;
    height: 100px;
    color: #1b1c21;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .readMore__pSecond,
  .readMore__p-2 {
    height: 50px;
  }
  .readMore__bigMore {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .readMore {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .readMore__scroll {
    margin-top: 10px;
    margin-left: 0;
  }

  .readMore__logo {
    width: 360px;
    flex-shrink: 0;
  }

  .readMore__logo-img {
    height: 208px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f8f8f8;
  }
}

@media (min-width: 1024px) {
  .slideMenu {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .bigMenu {
    display: initial;
  }

  .bigMenu__button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }

  .bigMenu__repair-btn {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 5px 5px;
    border-radius: 6px;
  }

  .bigMenu__search-btn {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
    padding: 5px 5px;
    border-radius: 6px;
  }

  .repair__search-icon {
    width: 40px;
    height: 40px;
    background: url("./pic/checkstatus.svg") no-repeat center center;
    border: none;
    margin-left: 10px;
  }

  .bigMenu__STO.bigMenu__left {
    width: 180px;
    display: flex;
    justify-content: space-between;
  }

  .repair__button-icon {
    width: 40px;
    height: 40px;
    background: url("./pic/repair.svg") no-repeat center center;
    border: none;
    margin-left: 10px;
  }
  .main {
    width: 100%;
  }

  .bigMenu__p {
    color: #1b1c21;
    font-family: TT Lakes-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }

  .bigHeader {
    display: flex;
    justify-content: space-between;
  }

  .bigMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 405px;
  }

  .bigMenu__STO {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
  }

  .container {
    display: none;
  }

  .readMore__pFirst,
  .readMore__p-1 {
    min-width: 400px;
  }

  .readMore__p {
    min-width: 400px;
    flex-shrink: 0;
    color: #1b1c21;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .readMore__p-2::after {
    content: ", что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
  }

  .readMore__pSecond {
    display: initial;
    margin-top: 10px;
  }

  .readMore__bigMore {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .readMore {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .readMore__scroll {
    margin-top: 30px;
    margin-left: 0;
  }

  .readMore__logo {
    margin: 0;
    min-width: 530px;
    flex-shrink: 0;
    border-radius: 6px;
  }

  .readMore__logo-img {
    width: 530px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f8f8f8;
  }
}
